<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
        <%= list.name %>
        <%= link_to 'Open', list_path(list) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create new list', new_list_path %>
