button, input[type="submit"] {
  color: $red;
  background-color: $white;
  border: solid $red 2px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: +.08em;
  border-radius: $radius;
  margin-top: 5rem;

  &:hover {
    @include transition();
    cursor: pointer;
    color: $white;
    background-color: $red;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  a {
    color: $red;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
