
<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %>
      <% if task.done %>
        Done
      <% else %>
        Not done
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create new task', new_task_path %>
