/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #2D2832;
$light: #eaebec;
$red:   #C8102E;
$white: #ffffff;



/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;
